@page "/Notifications"
@layout MenuLayout
<h1>AA</h1>

@code{
    protected override void OnInitialized() {
        base.OnInitialized();
        AppState.Name = "Notifications";
        AppState.Icon = "\ue905";
    }
}